html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; /* Firefox */
}

body {
    background: #EB5E00;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 1.5;
    margin: 0 auto;
}

nav,
header,
footer {
    display: block;
}

section {
    display: inline-block;
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 130px;
    font-family: 'Lora', serif;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h3 {
    font-family: 'Lora', serif;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
}

@media only screen and (max-width: 880px) {
    .container {
        width: 80%;
    }
}

#menu {
    width: 70%;
    float: right;
    margin-top: 0px;
}

@media only screen and (max-width: 880px) {
    #menu {
        float: none;
        width: 100%;
    }
}

#menu ul {
    margin: 0;
    text-align: right;
}

@media only screen and (max-width: 880px) {
    #menu ul {
        text-align: center !important;
    }
}

#menu ul li {
    font-size: 24px;
    display: inline-block;
    margin-left: 8%;
    color: white;
    font-weight: 600;
}

.white {
    background-color: #fff;
    padding: 12px 36px;
    border-radius: 32px;
}

.white a {
    color: #EB5E00;
}

@media only screen and (max-width: 880px) {
    #menu ul li {
        margin-right: 0%;
        padding: 0 20px;
    }
}

nav {
    display: inline-block;
    width: 100%;
    margin: 24px auto;
    background: #EB5E00;
}

@media only screen and (max-width: 880px) {
    nav {
        padding: 5px 0 0 0;
    }
}

#logo {
    font-family: 'Lora', serif;
    float: left;
}

#menu {
    float: right;
}

header {
    margin: 64px 0;
    background: #EB5E00;
}

footer {
    background-color: white;
    color: #EB5E00;
}

.row {
    display: inline-flex;
}

.body {
    margin: 0;
}

.bullet {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: #fff;
    color: #EB5E00;
    text-align: center;
    line-height: 60px;
}

.step {
    margin: 32px 0;
}

.step .title {
    font-weight: 600;
    margin-left: 24px;
}

.call-to-action {
    text-align: center;
}

.headline {
    font-family: 'Lora', serif;   
}

.button {
    padding: 12px 32px;
    color: #EB5E00;
    background-color: #fff;
    border-radius: 40px;
    font-weight: 600;
}

.disclaimer {
    font-size: 24px;
}